body {
      font-family: "Segoe UI", sans-serif;
      background-color: #f8faff;
      margin: 0;
      padding: 0;
    }
    .container {
      width: 90%;
      max-width: 1000px;
      margin: 40px auto;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
      padding: 20px 30px;
      transition:transform 0.3s ease-in-out;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #0d47a1;
      color: white;
      padding: 15px;
      border-radius: 10px 10px 0 0;
    }
    .btn {
  font-size: 0.95rem;
  border: 1px solid transparent;
  font-weight: 500;
  text-decoration:none;
}
    .back-btn {
      background-color: #2196f3;
      color: white;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
    .back-btn:hover {
      background-color: #0b79d0;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #e3f2fd;
    }
    tr:hover {
      background-color: #f1faff;
    }
    .container:hover{
        transform: scale(1.01);
    }