/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin:0px;
    padding:0px;
    Font-Family: "Inter", sans-serif;
    box-sizing:border-box;
}
#plus-icon{
    margin-top:30px;
}
body {
    background-color:#E9F3FF;
    background-image: url(/static/images/Hospital_staff.png);
    background-size:cover;
    height: 100vh;   /* Full viewport height */
    display:flex;
    justify-content:center;
    align-items: center;
}
.flash {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);   /* center exactly */
    background-color: #ffdddd;
    color: #a60000;
    border: 1px solid #ff8a8a;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: bold;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#container{
    width:300px;
    height:440px;
    background-color: white;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    transition:transform 0.3s ease-in-out; /* smooth effect */
}
#Registerhead{
    text-align: center;
    margin-bottom:15px;
    margin-top:10px;
    font-weight: 700; /* Bold */
    font-size: 2rem;
    color:black; 
}
input{
   display:block;
   width:250px;
   background: #f8fafc;
   border: 1.5px solid #dce3eb;
   padding-left: 5px;
   height:30px;
   border-radius:20px;
   margin:15px;
   outline:none;
   font-size: 0.95rem;
}
button{
    display:block;
    margin-top:20px;
    margin-bottom:15px;
    width:250px;
    height:30px;
    margin-left:15px;
    color:white;
    font-weight:500;
    border-radius:20px;
    background-color:#3088f2;
    font-size:13px;
    cursor:pointer;
    border:None;
    transition: background-color 0.3s ease-in-out;
}
a{
    width:250px;
    height:30px;
    font-weight:500;
    border-radius:20px;
    font-size:15px;
    color:#3088f2;
}
input::placeholder {
  font-size: 13px;
  font-weight: 600;       
}
#container:hover {
    transform: scale(1.01); /* slight zoom */
}

p{
    font-weight:500;
    font-size:15px;
    text-align:center;
}
button:hover {
  background-color: #1f75e2; /* darker shade of #3088f2 */
}

